

@{
    ViewBag.Title = "AdminArea";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <hr/>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
</div>
}

